/*Here my CSS starts with mobile, and in my media queries I make changes based on how I'd like the desktop to look.*/

*{
  margin:0;
  padding:0;
  font-family:Arial,Helvetica,sans-serif;
  
}

/*Here I'm saying I want no margin or padding. This is because some elements have margin or padding by default, such as a h1.
	I'm also setting the font family to arial, and then helvetica and sans serif as backups.*/

#branding{
 background-color:#000/*Black*/;
  color:#ffffff;/*White*/
  text-align:center;
  
  
  
  /*Making my background colour black and my text white and aligned to the centre*/
}


#branding img{
		max-height:35px;
		max-width:35px;
}

.highlight{
 color:#FFA500; /*I want to make the word 'growing' orange in the title, so I use this span class*/
}

a{
  text-decoration:none;/*Removes the underline from the links*/
  color:#ffffff;/*White*/
}



.topnav{
 text-align:center;
  list-style:none;/*Removes the bulletpoints from the links*/
  background-color:#000;/*Black*/
  text-transform:uppercase; /*This will make my text uppercase*/

  
}

a:hover{
	background-color:rgb(204, 102, 0);/*Dark Orange*/ /*This makes my links turn orange when the cursor hovers over them. This is an example of a pseudo-class.*/
}

button:hover{
	color:#0000FF;/*This will cause the 'subscribe' text within my button to turn blue while the cursor is hovered over it.*/
}

p:first-letter{
	font-weight:bold;/*This makes the first letter within every paragraph bold. This is an example of a pseudo-element.*/
}

ul.topnav {
background-color: #000; /*black */
padding: 2%;}

ul.topnav li a {
display: block; /* convert inline element a to block element, so it won't show up in a horizontal line*/
}

ul.topnav li.hide
{display:none;} /*This will hide everything except for our menu icon*/

ul.topnav.responsive li{display:block;} /*class added via jQuery*/
/*This corresponds to our javascript*/



#showcase{
  background-image:url('../images/showcase.jpg');/*This is retrieving the background image of our pumpkins*/
  background-position:center;/*This sets the starting position of our image to its centre*/
  text-align:center;
  color:#ffffff;/*White*/
  height:150px;
  padding:10px;
	
}




#newsletter{
  text-align:center;
  background-color:#000;/*Black*/
  color:#FFFFFF;/*White*/
  padding-bottom:2%;
}

.button_1{
  background:#e8491d;/*Dark orange*/
  border:0; /*This has a border by default, so I remove it*/
  padding-left:20px;
  padding-right:20px;
  color:#ffffff;/*White*/
  padding-top:2px;
  padding-bottom:2px;
  border-radius:15px;
 
}

input{
  height:18px;/*Increasing the height of my email address input box*/
  border-radius:15px;
}

.box img{
 max-width:70%;/*My source images were too wide, so I only want them to go to 70% of their size*/
  margin-top:5%;
  margin-bottom:2%;
  border:2px solid #000;/*Black*/ /*This adds a solid border around my images*/
}

.box{
  text-align:center;
}

body{
  background-image:linear-gradient(to bottom right, #e8491d/*Dark orange*/, #FFA500 /*Orange*/);/*Adds a gradient from top left to bottom right*/
  
}



footer{
 background-color:#000;/*black*/
  color:#FFFFFF;/*white*/
  text-align:center;
  margin-top:2%;
  padding:10px;
  
}


	

/*construction pages CSS starting here*/

#construction, img{
	width:100%;
	
	position:center;
    text-align:center;
	height:50%;
	
}	
	
/*contact page CSS starting here*/

#form{
	color:black;
	
	
	
	
}

.formheader{
	padding-top:2%;
	text-align:center;
}
	
fieldset{
	border:0;
	
	
	
}

legend{
	padding:0;
	color:#00f;
	background-color#ddd;
	
}



	

	
form div label{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	}
	
fieldset {
	border: 1px dotted #615B5CF;
	margin-top: 1.4em; /*space outside top of fieldset */
	padding: 0.6em; /*space inside fieldset*/
	
	max-width:90%;
	}
	
legend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight:bold;
	color:#000000;
	
	}
	
input.txt {
	color:#00008B; /*blue navy*/
	background-color: #E3F2F7; /*light blue*/
	border: 1px solid #00008B;
	width:90%;
	height:40px;
	border-radius:15px;
	
	}
	
input.btn {
	color: #00008B;
	background-color: #ADD8E6;
	border: 1px solid #00008B;
	margin-left:7%;
	height:25px;
	width:80%;
	border-radius:15px;
	
	
	}

fieldset{
	margin-left:3%;
}

.contactinfo{
	margin-top:5%;
	
	margin-left:8%;
}
	
ul.contact{
	list-style:none;
	
}

ul.contact li{
	
	max-width:90%;
	font-size:2em;
	padding-bottom:2%;
	text-align:center;
	
	
	
}


table{
	text-align:center;
	margin-right:8%;
	
	
}

tr, td{
	border:1px solid #00008B;
	height:40px;
	width:50%;
	
	
	}
	

.listitem{
	padding-bottom:5%;
	border:1px solid black;
	width:90%;
	
}
	
.contact_text{
		margin-top:5%;
		margin-bottom:5%;
		text-align:center;
		
}
	


.maplink{
	color:black;
	background-color:white;
	width:38%;
	padding:5px;
	font-size:1.1em;
	border:1px solid black;
	margin-top:5%;
	display:inline block;
	margin-left:30%;
	margin-bottom:2%;
	border-radius:15px;
	
	
	
	
}

.maplink img{
	
	max-width:7%;;
}


.contactelement{
	margin-bottom:15%;
	margin-top:5%;
}

.contactmore{
	margin-right:8%;
	text-align:center;

}

	
	
.pagecontain{
	margin-left:5%;
}




	
/*Harvesting Page CSS*/
#harvesttext{
		text-align:center;
		margin-right:3%;
		margin-bottom:10%;
		
}
		
.cutting li{
	margin-bottom:2%;
}
	
.pagecontain{
	max=width:100%;
}

iframe{
	width:100%;
	
	
}



	
@media only screen and (min-width:1025px){/*My CSS so far was written based on how I'd like the mobile version to appear.
											 Here I use media queries to apply different styling to screens 1025px wide or above. 1025px is the
											 average width of a HD desktop monitor.*/



											 
	*{
			margin:0;
			padding:0;
	}
	

	nav li{
		padding-right:50px;
		font-size:1.4em;
	}

	#showcase{
		height:400px;
		padding:10px;
	} /*I want the showcase to be much bigger on the desktop*/
	
	.showcasetext{
		margin-top:120px;
		font-size:2.5em;
		
	}
	
	.showcasetext p{
		font-size:0.5em;
	}
	
	#boxes .box{
		clear:right; /*I use this to ensure nothing floats to the right of my images.*/
		float:left;/*This makes my three boxes appear side by side horizontally by floating them beside one another.*/
		margin-top:2%;/*Adding a margin above my boxes causes them to appear further down.*/
		width:30%;/*I set my three boxes to 30% width to allow for 5% space on either side of them*/
		margin-left:2.5%;/*I move my images slightly to the right*/
		margin-bottom:2%;
		
	}
	
	.container figcaption{
		margin-bottom:2%;
	}
	
	/*Burger menu for desktop*/
	

ul.topnav li.hide{
display:inline-block; } /*overwriting the display:none property, so we get our nav bar*/

ul.topnav.responsive li{
display:inline-block; } /* overwriting the display property that is applied via the jquery toggle() method */

ul.topnav li.icon {
	display:none;} /*Add a new selector to hide the burger menu*/

	/*Burger menu for desktop end*/
	
	
	#newsletter{
		padding:10px;
	}
	

	
/*Media Queries for Contact Page*/

#form{
		float:left;
		width:20%;
}



input.txt{
	width:200%;
	margin-top:1.5%;
	height:60px;
}

input.btn{
	width:40%;
	margin-left:6%;
	margin-bottom:5%
}

.contactinfo{
	float:left;
	margin-top:3.65%;
	width:50%;


}

tr td{
	width:20%;
	height:84px;
}

tr{
	margin-bottom:3%;
	
}

.contactmore{
	float:left;
	margin-top:2.5%;
	margin-left:40%;
}

	
.contactmore{
		font-size:1.2em;

}

.contactelement{
		margin-bottom:22%;
}

.maplink{
	width:42%;
}


/*Harvesting Page Media Queries*/

#harvesttext{
	margin-top:2%;
	text-align:center;
	font-size:1.2em;
	margin-left:2%;
	margin-right:2%;
	line-height:2em;
}

.cutting{
	margin-left:2%;
	margin-bottom:5%;
}
	
.video{
	float:left;

	margin-left:9%;
	max-width:75%;
	margin-bottom:5%;
	
	
}

iframe{
	width:120%;
	
}
	
.contact{
		margin-top:3%;
}
	
	footer{
		
		margin-top:10%;
		clear:both;/*I use this to move my footer section to the bottom of the page by clearing the  floats on either side of my images,
		if I didn't do this, the footer would float to the left along with the images*/
	}
	
}



  


